@model ApplicationCore.Domain.Client

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Conseiller</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conseiller.ConseillerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conseiller.ConseillerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conseiller.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conseiller.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conseiller.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conseiller.Prenom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Identifiant">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
